<!DOCTYPE html>
<html> 
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <title>ABT</title>
    </head>
    <body class="bg-secondary text-white bg-dark">
        </br></br></br></br></br>
        <h2 class="article-title" align="center">
            <div class="bg-dark text-white">
                Leaf Payment Generator
            </div>
        </h2>
        <div class="content" align="center">
            Click <a href="{{download_link}}"></a>Here
        </div>
    </body>
</html>